PORT=5000
MONGO_URI=mongodb://atharvaholsambre2529_db_user:<db_password>@ac-rge4e0p-shard-00-00.rq3cyrn.mongodb.net:27017,ac-rge4e0p-shard-00-01.rq3cyrn.mongodb.net:27017,ac-rge4e0p-shard-00-02.rq3cyrn.mongodb.net:27017/forgecart?ssl=true&replicaSet=atlas-2zihr8-shard-0&authSource=admin&retryWrites=true&w=majority&appName=project
JWT_SECRET=replace_with_a_long_random_secret
JWT_EXPIRES_IN=7d
